body{
  background: #9983af;
}
div{
  box-sizing: border-box;
  display: block;
}
table, tr, td{
  border: none;
  border-collapse: all;
  border-spacing: 0px;
}
.connect-button{
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 10px;
  background: #59d1c0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px rgba(0,0,0,.2);
  cursor: pointer;
}
.connect-button:hover{
  box-shadow: 0px 4px 2px rgba(0,0,0,.2);
  margin-top: -101px;
}
.connect-button:active{
  box-shadow: 0px 0px 0px rgba(0,0,0,.2);
  margin-top: -98px;
}
.app-top{
  height: 40vh;
  width: 100%;
  background: #806699;
}
.app-bottom{
  height: 60vh;
  width: 100%;
}
#video-player{
  width: 500px;
  height: 40vh;
  clear: both;
  position: absolute;
  left: 50%;
  margin-left: -250px;
}
.timeline{
  float: left;
  overflow-x: scroll;
}
.light-row{
  width: auto;
  height: 30px;
  background: #E28589;
  border: none;
  border-bottom: 1px solid #806699;
  position: relative;
}
.name-column{
  height: 29px;
  min-width: 140px;
  background: #59D1C0;
  padding-top: 5px;
  padding-left: 10px;
  border: none;
}
.time-column{
  height: 29px;
  width: auto;
  background: #b3b3b3;
  border: none;
}
.lc{
  height: 29px;
  width: 10px;
  border: none;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  background: #fff;
  padding: 0px;
  position: relative;
}
.ls{
  width: 16px;
  height: 34px;
  background-color: #fff;
  padding: 0px;
  position: relative;
}
.lh{
  font-size: 10px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.timeline-wrapper{
  width: 100%;
  overflow-x: scroll;
}
.second-modal{
  width: 200px;
  height: auto;
  position: absolute;
  top: 50px;
  left: -92px;
  background-color: #59D1C0;
  border-radius: 4px;
  z-index: 99999;
  padding: 5px;
  padding-top: 7px;
  padding-bottom: 15px;
}
.second-modal::after{
  content: "";
  position: absolute;
  left: 90px;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #59D1C0;
  border-radius: 3px;
  transform: rotate(45deg);
}
.modal-row{
  width: 48%;
  padding: 0px 10px;
  float: left;
}
.modal-row label{
  font-size: 12px;
}
.modal-input{
  width: 100%;
  height: 25px;
  border: none;
  border-radius: 4px;
  padding-left: 6px;
  font-size: 16px;
}