body{
  background: #9983af;
}
.connect-button{
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 10px;
  background: #59d1c0;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 0px rgba(0,0,0,.2);
  cursor: pointer;
}
.connect-button:hover{
  box-shadow: 0px 4px 2px rgba(0,0,0,.2);
  margin-top: -101px;
}
.connect-button:active{
  box-shadow: 0px 0px 0px rgba(0,0,0,.2);
  margin-top: -98px;
}
.app-top{
  height: 40vh;
  width: 100%;
  background: #806699;
}
.app-bottom{
  height: 60vh;
  width: 100%;
}
#video-player{
  width: 500px;
  height: 40vh;
  clear: both;
  position: absolute;
  left: 50%;
  margin-left: -250px;
}